body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
  }
  :before,
  *:after{
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  p{
    margin: 0 0 10px;
  }
  html {
    scroll-behavior: smooth;
  }
  
  /*Container
  ===================*/
  .container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
   /*Header
  ===================*/
  .header{
    position: absolute;
    width: 100%;
    padding: 30px 0;
  }
  .header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /*Header logo
  ===================*/
  .header__logo{
    margin-left: 50px ;
  }
  .header__title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
    margin-bottom: 9px;
  }
  .header__subtitle{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-decoration: none;
  }
  /*Nav
  ===================*/
  .nav{
    display: flex;
    font-family: 'Arial';
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    margin-right: 30px;
  }
  .nav__link{
    margin-left: 35px;
    color: #CDCDCD;
    text-decoration: none;
    transition: color .1s linear;
  }
  .nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #F1CDB3;
    opacity: 0;
    transition: opacity .1s linear;
}
.nav__link:hover{
    color:#FAFAFA;
}
.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}
.nav__link.active{
    color: #FAFAFA;
}
/*nav-toggle
  ===================*/
  .nav-toggle{
    width: 30px;
    padding: 15px 0;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 1;
  }
  .nav-toggle__item{
    display: block;
    width: 100%;
    height: 2px;

    background-color: #F1CDB3;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0%;
  }
  .nav-toggle.active .nav-toggle__item{
    transform: rotate(90deg);
    transition: all .2s linear;
  }
  .nav-toggle__item:before,
  .nav-toggle__item:after{
    content: "";
    width: 100%;
    height: 2px;

    background-color: #F1CDB3;

    position: absolute;
    left: 0;
    z-index: 1;
  }
  .nav-toggle__item:before{
    top: -8px;
  }
  .nav-toggle__item:after{
    bottom: -8px;
  }
  /*notOnly
  ===================*/
  .notOnly{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    -webkit-background-size: cover;
    background-size: cover;
  }
  .notOnly__content{
    margin-top: 135px;
    margin-left: 50px;
  }
  .notOnly__heading{
    width: 310px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  .notOnly__subheading{
    width: 460px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #CDCDCD;
    margin-bottom: 30px;
  }
  .notOnly__img{
    position: absolute;
    width: 698px;
    height: 728px;
    left: calc(50% - 698px/2 + 251px);
    bottom: 0px;
    background: url(images/start-screen-puppy.png);
  }

  /*btn
  ===================*/
  .btn{
    display: inline-block;
    vertical-align: top;
    padding: 15px 45px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    text-decoration: none;
    color: #292929;

    letter-spacing: 0.06em;
  }
  .btn--brown{
    background: #F1CDB3;
    border-radius: 100px;
  }
  .btn--brown2{
    background: #F1CDB3;
    border-radius: 100px;
    position: relative;
    bottom: 0%;
    left: 40%;
    margin-top: 78px;
  }
  .btn--white{
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-left: 37px;
  }
  .btn--white:hover{
    background-color: #F1CDB3;
  }
  /*About
  ===================*/
  .about{
    padding: 150px 0;
    margin-left: 9px;
  }
  .about__inner{
    display: flex;
    flex-direction: row-reverse;
  }
  .about__content{
    width: 50%;
  }
  .about__title{
    width: 370px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 25px;
  }
  .about__text{
    width: 430px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin-bottom: 25px;
  }
  .about__text2{
    width: 430px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
  }
  .about__img{
    position: relative;
    right: 9%;
    bottom: 13px;
    z-index: 1;
  } 

/*ourFriends
  ===================*/
  .ourFriends{
    padding: 30px 0;
    width: 100%;
    background: #F6F6F6;
  }
 .ourFriends__inner{
    display: flex;
    justify-content: center;
 }
 .ourFriends__item{
    padding: 0 52px;
 }
 .ourFriends__name{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-left: 95px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 58px;

 }
 .ourFriends__bg{
    background-color: #fff;
    height: 140px;
    position: relative;
    left: 0;
    top: -2%;
 }
 .section__header{
    display: flex;
    justify-content: center;
 }
 .ourFriends__title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    width: 400px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 40px;
 }
 .friends__item-arrow {
  width: 5%;
  margin-top: 200px;
}
 .arrow {
  cursor: pointer;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  padding: 13px 13px;
  background-color: #F6F6F6;
  transition: .2s linear;
}
.arrow:hover{
  background-color: #F1CDB3;
}
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slides{
  display: flex;
  flex-wrap: nowrap;
  transition: transform 1s ease;
}
/*Help
  ===================*/
 .help{
    padding: 150px 0;
 }
 .help__title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    width: 360px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 50px;
 }
 .logos__inner{
    margin-right: 95px;
 }
 .logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
 }
 .logos__item{
    margin-left: 10%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .logos__text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 20px 0;
 }
/*addition
  ===================*/
  .addition{
    padding: 150px 0;
    background: #F6F6F6;
  }
  .addition__content{
    margin-left: 30px;
  }
  .addition__inner{
    margin-right: 185px;
  }
  .addition__item{
    display: flex;
    flex-direction: row-reverse;
  }
  .addition__title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    width: 300px;
    margin-bottom: 20px;
  }
  .addition__text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 20px;
  }
  .addition__card{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    background-color: #F1CDB3;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    text-decoration: none;
  }
  .addition__text2{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
    width: 380px;
  }
  /*Footer
  ===================*/
  .footer{
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    -webkit-background-size: cover;
    background-size: cover;
  }
  .footer__inner{
    display: flex;
  }
  .footer__conten{
    margin-left: 50px;
  }
  .footer__title{
    width: 310px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 80px;
  }
  .footer__info{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-bottom: 30px;
    text-decoration: none;
  }
  .footer__img{
    position: relative;
    top: 5%;
    left: 40%;
  }

  @media (max-width: 768px){
     /*Container
  ===================*/
  .container{
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }
  /*Nav
  ===================*/
  .nav {
    margin-right: 12px;
    margin-bottom: 5px;
  }

  /*Not Only
  ===================*/
  .notOnly{
    width: 768px;
    height: 1165px;
  }
  .notOnly__content {
    margin-bottom: 684px;
    margin-left: 175px;
  }
  .notOnly__heading {
    margin-bottom: 42px;
  }
  .notOnly__img {
      position: absolute;
      width: 569px;
      height: 593px;
      left: calc(50% - 569px/2 + 70px);
      top: 67%;
      background: url(images/768/start-screen-puppy\ 768.png);
  }
  .btn--brown {
    margin-left: 125px;
  }
  /*About
  ===================*/
  .about {
    width: 768px;

    padding: 80px 0;
    margin-left: 9px;
}
  .about__inner{
    display: block;
    margin-left: 182px;
  }
  .about__text2 {
    margin-bottom: 80px;
  }
  .about__img {
    position: relative;
    left: 11%;
    bottom: 50%;
    z-index: 1;
  }
  /*ourFriends
  ===================*/
  .ourFriends{
    padding: 90px 0;
    width: 768px;
  }
  .ourFriends__item {
    padding: 0 22px;
}
  .ourFriends__title {
    margin-bottom: 60px;
}
.ourFriends__name {
  position: relative;
  top: 19%;
  left: 2%;
}
.ourFriends__bg {
  background-color: #fff;
  height: 168px;
  position: relative;
  left: 0;
  top: -2%;
}
.btn--white {
  margin-left: 43px;
  margin-top: 4px;
}
.btn--brown2 {
  position: relative;
  bottom: 0%;
  left: 36%;
  margin-top: 50px;
}
  .ourFriends__item:nth-child(4) {
    display: none;
  }
  .ourFriends__item:nth-child(2) {
    margin-left: 35px;
  }
  .friends__item-arrow:first-child{
    position: relative;
    left: 5%;
  }
/*Help
  ===================*/
  .help {
    padding: 90px 0;
    margin-left: 45px;
}
.logos {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.logos__item {
  margin-left: 13%;
  padding: 13px 0;
  width: 15.33333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*addition
  ===================*/
  .addition {
    padding: 10px 0;
  }
  .addition__item{
    display: block;
    margin-left: 185px;
  }
  .addition__text2 {
    margin-bottom: 60px;
  }
  .addition__img{
    position: relative;
    right: 8%;
    top: 0%;
    margin-bottom: 80px
  }
  .footer__inner{
    display: flex;
    flex-wrap: wrap;
    width: 109%;
    margin-left: 115px;
  }
  .footer__info {
    width: 70%;
  }
  .footer__img{
    position: relative;
    top: 0%;
    left: 40%;
  }
}

@media (max-width: 767px){
  .nav-toggle{
    display: block;
  }
  .nav{
    display: none;
  }
  .nav{
    display: none;
    flex-direction: column;

    width: 100%;
    height: 830px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: #292929;
    transition: opacity 0.3s;
  }
  .nav.active{
    display: block;
  }
  .nav__link{
    font-size: 32px;
    display: block;
    position: relative;
    top: 32%;
    right: 6%;
    margin-bottom: 55px;
    text-align: center;
  }
  .nav__link:after {
    width: 85%;
    margin-top: 9px;
    margin-left: 19px;
}
.nav-toggle.active .nav-toggle__item {
  transform: rotate(90deg);
  transition: all .2s linear;
}
}

@media (max-width: 320px){
      /*Container
  ===================*/
  .container{
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  
  /*Nav
  ===================*/
  .nav{
    display: none;
    flex-direction: column;

    width: 100%;
    height: 830px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    background-color: #292929;
    transition: opacity 0.3s;
  }
  .nav.active{
    display: block;
  }
  .nav__link{
    font-size: 32px;
    display: block;
    position: relative;
    top: 32%;
    right: 6%;
    margin-bottom: 55px;
    text-align: center;
  }
  .nav__link:after {
    width: 85%;
    margin-top: 9px;
    margin-left: 19px;
}
  /*nav-toggle
  ===================*/
  .nav-toggle{
    display: block;
    z-index: 2;
  }
  .header__logo {
    margin-left: 20px;
 }
  /*Not Only
  ===================*/
  .notOnly{
    width: 320px;
    height: 823px;
  }
  .notOnly__inner{
    display: flex;
    justify-content: center;
    margin-right: 100px;
    margin-top: 340px;
  }
  .notOnly__content{
    margin-right: 71px;
    margin-top: 107px;
  }
  .notOnly__heading {
    width: 233px;
    height: 64px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-left: 30px;
  }
  .notOnly__subheading{
    width: 300px;
    height: 96px;
    text-align: center;
    line-height: 160%
  }
  .notOnly__img {
    width: 260px;
    height: 271.77px;
    position: absolute;
    left: 15.33%;
    right: 0%;
    top: 64.58%;
    bottom: 0.03%;
    background: url(images/320/start-screen-puppy\ 320.png);
}
.btn--brown {
  margin-left: 44px;
}
/*About
  ===================*/
  .about {
    width: 768px;

    padding: 80px 0;
    margin-left: 9px;
}
  .about__inner{
    display: block;
    margin-left: -217px;
    margin-top: -37px;
  }
  .about__title{
    width: 290px;
    height: 64px;
    font-size: 25px;
    text-align: center;
  }
  .about__text {
    width: 270px;
    height: 64px;
    margin-bottom: 100px;
    margin-left: 9px;
    text-align: justify;
  }
  .about__text2 {
    width: 270px;
    height: 239px;
    margin-left: 9px;
    text-align: justify;
    margin-bottom: 35px;
  }
  .about__img {
    width: 260px;
    height: 353.6px;
    position: relative;
    left: 0%;
    bottom: 50%;
    z-index: 1;
  }
  /*ourFriends
  ===================*/
  .ourFriends {
    width: 320px;
    height: 582px;
}
  .ourFriends__inner {
    margin-left: -42px;
    margin-bottom: 49px;
}
  .ourFriends__title{
    margin-top: -78px;
    width: 300px;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 40px;
  }
  .ourFriends__item:nth-child(4) {
    display: none;
  }
  .ourFriends__item:nth-child(3) {
    display: none;
  }
  .friends__item-arrow {
    margin-top: 456px;
    margin-left: -111px;
    margin-right: -106px;
}
.btn--brown2 {
  position: relative;
  bottom: 0%;
  left: 9%;
  margin-top: 0px;
}
/*Help
  ===================*/
  .help__title{
    width: 227px;
    height: 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    margin-left: -43px;
    margin-top: -48px;
  }
  .logos {
    margin-bottom: -78px;
}
  .logos__item {
    width: 21%;
    height: auto;
    box-sizing: border-box;
    padding: 5px;
  } 
  .logos__text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    text-align: center;
  }
  .svg__img{
    width: 50px;
    height: 50px;
    margin-top: -21px;
  }


  .addition__title {
    width: 218px;
    margin-left: -163px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 25px;
}
  .addition__text {
    margin-left: -187px;
    font-size: 13px;
    width: 273px;
    margin-bottom: 24px;
}
.addition__card {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 115%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  background-color: #F1CDB3;
  padding: 10px 15px;
  border-radius: 11px;
  margin-bottom: 20px;
  margin-left: -196px;
  width: 252px;
  text-decoration: none;
}
.addition__text2 {
  width: 280px;
  margin-left: -195px;
  text-align: justify;
}
.addition__img{
  display: none;
}
.addition__img320 {
  width: 260px;
  height: 135.2px;
  background: url(images/320/donation-dog\ 320.png);
  margin-left: -155px;
  margin-top: -18px;
  margin-bottom: 31px;
}

.footer__inner {
  margin-left: 31px;
}
.footer__info {
  width: 100%;
}
.footer__title {
  margin-top: 30px;
  text-align: center;
  width: 260px;
  font-size: 25px;
  margin-bottom: 39px;
}
 .footer__img{
  display: none;
 }
 .footer__img320{
  width: 260px;
  height: 269px;
  margin-top: -13px;
  background: url(images/320/footer-puppy\ 320.png);
 }
}
